RewriteEngine On
Options All -Indexes
IndexIgnore *.php *.html

SetEnv BASE_PATH "localhost/plaseo/test"

RewriteRule ^cl/$                index.php?c=cl&s=main&p=home
RewriteRule ^cl/home$            index.php?c=cl&s=main&p=home

RewriteRule ^es/$                index.php?c=es&s=main&p=home
RewriteRule ^es/es/$             index.php?c=es&l=es&s=main&p=home
RewriteRule ^es/en/$             index.php?c=es&l=en&s=main&p=home

RewriteRule ^es/home$            index.php?c=es&s=main&p=home
RewriteRule ^es/es/home$         index.php?c=es&l=es&s=main&p=home
RewriteRule ^es/en/home$         index.php?c=es&l=en&s=main&p=home

RewriteRule ^construct$ index.php?s=error&p=construct

RewriteRule ^404$ index.php?s=error&p=404

RewriteCond %{HTTPS} !=on
ErrorDocument 404  https://%{ENV:BASE_PATH}/404

RewriteCond %{HTTP} !=on
ErrorDocument 404  http://%{ENV:BASE_PATH}/404
