input[type=number] { -moz-appearance:textfield; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
    --header-height: 56px;
    --selected-color: #FF00FF;
    --selected-color-hover: #BD00BD;
    --logo-subcolor: #FF00FF;
}

* {
    z-index: 1000;
}

*::selection {
    background-color: var(--selected-color);
    color: #fff;
}

.btn {
    box-shadow: none !important;
}
