input[type=number] { -moz-appearance:textfield; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
    --header-height: 56px;
    --selected-color: #FF00FF;
    --selected-color-hover: #BD00BD;
}

*::selection {
    background-color: var(--selected-color);
    color: #fff;
}

@font-face {
    font-family: Ailerons;
    src: url("http://localhost/plaseo/public/cl/static/font/Ailerons-Regular.otf");
}

.logo {
    font-family: Ailerons;
    font-size: 1.7rem;
}

.navbar.header-fixed {
    position: fixed;
    min-height: var(--header-height);
    height: auto;
    width: 100%;
    top: 0;
    transition: top .3s;
}

.container.header-fixed,
.container-fluid.header-fixed {
    padding-top: var(--header-height);
}

.btn {
    box-shadow: none !important;
}

h1, .h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

p.subtitle {
    font-size: 1.25rem;
    font-weight: 300;
}

icon-check:before {
    content: "\f00c";
}

.fas.fa-check {
    color: var(--selected-color);
}

.btn-primary {
    background-color: var(--selected-color);
    border-color: var(--selected-color);
}

.btn-primary:hover {
    background-color: var(--selected-color-hover);
    border-color: var(--selected-color-hover);
}

.btn-group-lg .btn, .btn-lg {
    padding: .75rem 1rem;
    font-size: 1rem;
    min-width: 10rem;
}

.bg-violet {
    background-color: var(--selected-color);
}

@media (max-width: 991.98px) {
    h1, .h1 {
        font-size: 3rem;
    }
}
