input[type=number] { -moz-appearance:textfield; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
    --header-height: 56px;
    --transition: .15s;
    --logo-subcolor: var(--color-4);
    --header-color: var(--color-2);
    --header-color-text: var(--color-2-text);
    --footer-color: var(--color-2);
    --color-1: #C5C1C0;
    --color-1-text: #0A1612;
    --color-2: #0A1612;
    --color-2-text: #FFFFFF;
    --color-3: #1A2930;
    --color-3-text: #FFFFFF;
    --color-4: #F7CE3E;
    --color-4-text: #0A1612;

}

* {
    z-index: 1000;
}

*::selection {
    background-color: var(--color-4);
    color: var(--color-4-text);
}

@font-face {
    font-family: Ailerons;
    src: url("../font/Ailerons-Regular.otf");
}

.logo {
    font-family: Ailerons;
    font-size: 1.7rem;
}

.logo span {
    color: var(--logo-subcolor);
}

#header {
    min-height: var(--header-height);
    width: 100%;
    height: auto;
}

#header.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    transition: top .3s;
    z-index: 1010;
}

#navbar {
    background-color: var(--header-color);
    color: var(--header-color-text);
}

#navbar .navbar-brand, #navbar .navbar-nav .nav-link.show, #navbar .navbar-nav .show>.nav-link,
#navbar .navbar-nav .nav-link {
    color: var(--header-color-text);
    opacity: .5;
    transition: var(--transition);
}

#navbar .navbar-nav .active>.nav-link, #navbar .navbar-nav .nav-link.active, #navbar .navbar-nav .nav-link:focus,
#navbar .navbar-nav .nav-link:hover, #navbar .navbar-brand {
    opacity: 1;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--color-2-text);
    text-decoration: none;
    background-color: var(--color-2);
}

#footer {
    background-color: var(--footer-color);
    width: 100%;
    height: auto;
}

#content.header-fixed {
    padding-top: var(--header-height);
}

.btn {
    box-shadow: none !important;
}

h1, .h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

p.subtitle {
    font-size: 1.25rem;
    font-weight: 300;
}

.icon-check:before {
    content: "\f00c";
}

.fas.fa-check {
    color: var(--selected-color);
}

.btn-primary {
    background-color: var(--color-2);
    border-color: var(--color-2);
    color: var(--color-2-text);
}

.btn-primary:hover {
    background-color: var(--color-1);
    border-color: var(--color-1);
    color: var(--color-1-text);
}

.btn-group-lg .btn, .btn-lg {
    padding: .75rem 1rem;
    font-size: 1rem;
    min-width: 10rem;
}

.btn-outline-secondary:hover {
    background-color: var(--color-2);
    border-color: var(--color-2);
    color: var(--color-2-text);
}

.bg-color-1 {
    background-color: var(--color-1);
    color: var(--color-1-text);
    border-color: var(--color-1);
}

.bg-color-2 {
    background-color: var(--color-2);
    color: var(--color-2-text);
    border-color: var(--color-2);
}

.bg-color-3 {
    background-color: var(--color-3);
    color: var(--color-3-text);
    border-color: var(--color-3);
}

.bg-color-4 {
    background-color: var(--color-4);
    color: var(--color-4-text);
    border-color: var(--color-4);
}

@media (max-width: 991.98px) {
    h1, .h1 {
        font-size: 3rem;
    }
}
